body {
    background-color: gray;
}

.title {
    font-size: xx-large;
}

.author {
    font-size: small;
}

.turn {
    font-size: x-large;
}

.tooltip {
    position: absolute;
    background-color: white;
    opacity: 80%;
    border: 1px solid black;
    border-radius: 5%;
    width: 200px;
    height: 65px;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.controls, .titleDiv, .links {
    width: 33%;
    display: inline-block;
    text-align: center;
}

.controls{
    position: relative;
    transform: translate(0, -50%);
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* the first and last row have fixed heights, the middle one is
    driven by the height of the content */
    grid-auto-rows: 80px auto 140px;
    /* grid-auto-rows: 1fr 6fr 1fr; */
    gap: 8px;
}

/* .controls{
    position: relative;
    left: 50%;
    transform: translate(-50%, 10px);
    width: 30%;
} */

.dataControl {
    background-color: aliceblue;
    width: 49%;
    text-align: center;
    height: 30px;
    border: black solid 2px;
    color: black;
}


#noDataAlert {
    position: relative;
    left: 35%;
    top: 50%;
}

.white-1e1d7 {
    background-color: aliceblue;
    color: black;
}

.black-3c85d {
    background-color: steelblue;
    color: white;
}

.pieTitle{
    font-size: larger;
    text-align: center;
    text-decoration: underline;
}

/* show that the pieces are draggable */
img {
    cursor: grab;
}

button {
    cursor: pointer;
}

.dataControl:hover {
    background-color: lightblue;
    /* border-color: white; */
    /* color: white; */
}

#myBoard{
    position: relative;
    left: 50%;
    top: 0%;
    width: 90%;
    transform: translate(-50%, 10px);
}

nav {
    background-color: white;
    /* we go from column line 1 to 4 */
    grid-column-start: 1;
    grid-column-end: 4;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    /* text-align: center; */
    border: black solid 3px;
}

.pie {
    background-color: white;
    border: 3px black solid;
    height: 480px;
    overflow-y: auto;
}

#pie_svg {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

#table{
    position: relative;
    left: 50%;
    transform: translate(-50%, 10px);
}

.piechart{
    transform: translate(0, 10px);
}

.table {
    background-color: white;
    border: 3px black solid;
    height: 480px;
    overflow-y: auto;
}

.board {
    background-color: white;
    border: 3px black solid;
    height: 480px;
    overflow-y: auto;
    text-align: center;
}

footer {
    text-align: center;
    /* background-color: #b0c4de; */
    background-color: white;
    border: 3px black solid;
    /* and a shorthand for columns 1-3 */
    grid-column: 1 / 4;
}

a:visited {
    /* text-decoration: none; */
    color: black;
}