body {
    background-color: steelblue;
}

.title {
    font-size: xx-large;
}

.author {
    font-size: small;
}

.turn {
    font-size: x-large;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* the first and last row have fixed heights, the middle one is
    driven by the height of the content */
    grid-auto-rows: 100px auto 100px;
    /* grid-auto-rows: 1fr 6fr 1fr; */
    gap: 10px;
}

.tooltip {
    position: absolute;
    background-color: white;
    opacity: 80%;
    border: 1px solid black;
    border-radius: 5%;
    width: 200px;
    height: 65px;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

#noDataAlert {
    position: relative;
    left: 35%;
    top: 50%;
}

.white-1e1d7 {
    background-color: aliceblue;
    color: black;
}

.black-3c85d {
    background-color: steelblue;
    color: white;
}

.dataControl {
    background-color: aliceblue;
    width: 10%;
    text-align: center;
    height: 30px;
    border: black solid 2px;
    color: black;
}

.dataControl:hover {
    background-color: lightblue;
    /* border-color: white; */
    /* color: white; */
}

#myBoard{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

nav {
    background-color: white;
    /* we go from column line 1 to 4 */
    grid-column-start: 1;
    grid-column-end: 4;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: center;
    border: black solid 3px;
}

.pie {
    background-color: white;
    border: 3px black solid;
    height: 500px;
    overflow-y: auto;
}

.table {
    background-color: white;
    border: 3px black solid;
    height: 500px;
    overflow-y: auto;
}

.board {
    background-color: white;
    border: 3px black solid;
    height: 500px;
    overflow-y: auto;
    text-align: center;
}

footer {
    background-color: #b0c4de;
    /* and a shorthand for columns 1-3 */
    grid-column: 1 / 4;
}
